@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: #86d2f2;
    height: 100vh;
}

.heading {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 40px;
    color: #1f1d41;
    text-align: center;
}

.button1 {
    font-family: "Roboto";
    color: #ffffff;
    background-color: #1f1d41;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px;
    width: 65px;
    height: 40px;
    margin: 16px;
}

.button2 {
    font-family: "Roboto";
    color: #ffffff;
    background-color: #1f1d41;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px;
    width: 65px;
    height: 40px;
    margin: 16px;
}

.button3 {
    font-family: "Roboto";
    color: #ffffff;
    background-color: #1f1d41;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px;
    width: 65px;
    height: 40px;
    margin: 16px;
}

.lightStick {
    background-color: #1f1d41;
    border-radius: 38px;
    height: 270px;
    width: 98px;
}

.card {
    text-align: center;
}

.cards {
    background-color: #4b5069;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
}